<navbar></navbar>
<div class="main-content-w forgetpassword-pg">
    <div class="main-content-m">
        <div class="main-content-i fullscreen_post_bg" >

                <div class="limiter">
                        <div class="container-login100" style="background-image: url('assets/images/login-bg.jpg');">
                            <div class="wrap-login100">
                               
                                    <form class="login100-form validate-form" action="" method="post" data-action="login" name="LoginForm" #LoginForm="ngForm"
                                    novalidate>

                                    <input type="hidden" name="force_redirect_uri-587" id="force_redirect_uri-587"
                                        value="0" />
                                    <input type="hidden" name="redirect_uri-587" id="redirect_uri-587" value="" />

                                    <input type="hidden" id="_myuserpro_nonce" name="_myuserpro_nonce"
                                        value="632b0d753b" />
                                    <input type="hidden" name="_wp_http_referer" value="/login/" />
                                    <input type="hidden" name="unique_id" id="unique_id" value="587" />
                                        <span class="login100-form-title p-b-34 p-t-27">
                                            Change Password
                                        </span>
                                        <div class="wrap-input100 validate-input" data-validate = "Enter username">
                                            <input class="input100" type='password' name='old_password' id='old_password' value='Current Password'
                                                    placeholder='Current Password' autocomplete='off'
                                                    [(ngModel)]="changeinfo.old_password" #old_password="ngModel" required />
                                            <span class="focus-input100" data-placeholder="&#xF18F;"></span>
                                            <span class="err-msg">
                                                    <div *ngIf="old_password.touched" class="help-block">
                                                        <div *ngIf="old_password.errors?.required" class="help-block">
                                                            Current Password is required
                                                        </div>
                                                    </div>
                                            </span>
                                        </div>
                                        <div class="wrap-input100 validate-input" data-validate = "Enter username">
                                                <input class="input100" type='password' name='password' id='password' value='' placeholder='New Password' 
                                                autocomplete='off'
                                                [(ngModel)]="changeinfo.password" #password="ngModel" required />
                                                <span class="focus-input100" data-placeholder="&#xF18F;"></span>
                                                <span class="err-msg">
                                                        <div *ngIf="password.touched" class="help-block">
                                                            <div *ngIf="password.errors?.required" class="help-block">
                                                                New Password is required
                                                            </div>
                                                        </div>
                                                    </span>
                                            </div>

                                        <div class="wrap-input100 validate-input" data-validate = "Enter username">
                                                <input class="input100" type='password' name='password_confirmation' id='password_confirmation' value='Conform Password'
                                                placeholder='Conform Password' autocomplete='off'
                                                [(ngModel)]="changeinfo.password_confirmation" [pattern]="changeinfo.password" #password_confirmation="ngModel" required />
                                                <span class="focus-input100" data-placeholder="&#xF18F;"></span>
                                                <div *ngIf="password_confirmation.errors && (password_confirmation.dirty || password_confirmation.touched)"
                                                class="alert-email alert-danger-email">
                                                
                                                <div class="help-block" [hidden]="!password_confirmation.errors.required">
                                                </div>
                                                <div class="help-block" [hidden]="!password_confirmation.errors">
                                                    Password is not correct.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="container-login100-form-btn">
                                                <input class="login100-form-btn" type="submit" value="Submit" [disabled]="!LoginForm.valid"
                                                (click)="changepassword(changeinfo)" />
                                        </div>
                                        

                                        
                                </form>
                                </div></div></div>

            
        </div>
    </div>
</div>

<div class="row otp-sec" #myDiv (click)="modalopen.open()">
    <modal #modalopen class="modal-sm">
        <modal-header>
            <h1></h1>
        </modal-header>
        <modal-content>
         <h5>{{message}}</h5>
          
           
        </modal-content>
        
    </modal>
</div> 