<div class="pre-footer stacked-widgets widgets-count-1 color-scheme-light">
</div>
<!--<div class="main-footer with-social color-scheme-light">
<div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="footer-links">
                        <a  [routerLink]="['/aboutus']" >About Us</a> |
                        <a  [routerLink]="['/privacyandpolicy']" >Privacy Policy</a> |
                        <a   [routerLink]="['/termsandcondiation']" >Terms & Conditions</a>
                        </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6">
           <div class="footer-copyright">2019 &copy; Watnew. All Rights Reserved.</div>
        </div>
</div>
 
    
</div>-->
