<div class="main-content-w">
    <div class="main-content-m">
        <div class="main-content-i">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <div class="content side-padded-content reading-mode-content">
                            <div class="top-sidebar-wrapper">
                                <!-- <ngx-slick-carousel class="carousel" #slickModal="slick-carousel"
                                    [config]="slideConfigs">
                                    <aside ngxSlickItem id="media_image-4"
                                        class="widget-odd widget-last widget-first widget-1 widget widget_media_image"
                                        *ngFor="let bannerdata of Bannerdata"><a href="{{bannerdata.url}}"><img
                                                width="898" height="117" src="{{bannerdata.bannerimages[0].path}}"
                                                class="image wp-image-1831  attachment-full size-full" alt=""
                                                style="max-width: 100%; height: auto;"></a></aside>
                                </ngx-slick-carousel> -->
                            </div>

                            <!-- <div class="sub-bar-w hidden-sm hidden-xs">
                                <div class="sub-bar-i">
                                    <a href="/home" class="back-but"><i class="fa fa-angle-left"></i> Home</a>
                                </div>
                            </div> -->

                            <article id="page-71" class="pluto-page-box post-71 page type-page status-publish hentry">
                                <div class="post-body">

                                    <h1 class="page-title">Rules</h1>
                                    <div class="post-content rules-sec">
                                        <h3 class="text-center">Cash prizes</h3>
                                        <ul>
                                       <li>User will get a scratch card by referring a friend through WhatsApp.</li>
                                       <li>Scratch code will be issued to the users will be enabled only after signup and access application.</li>
                                       <li>Time spends: WatNew will set a guideline on the amount of time spent in the application.</li>
                                       <li>Once the user reaches the time, spend as per watnew rules user will get a scratch card.</li>
                                       <li>Create Post and get scratch card.</li>
                                      <li>Watnew provides leader board where a user who got cash prizes on time spent is listed with the cash they have earned.</li>
                                        </ul>
                                        <h4>How to get rewards:</h4>
                                        <p>You can earn rewards by inviting new users to WatNew through WhatsApp. Once the referred user signup, both the users will receive a reward.</p>
                                        <p><b>Note:</b> The new user that you invite may receive invitations from many users. But you will only receive the referral reward if the invitee uses your reference code for signup.</p>
                                        
                                        <h4>Send a referral invitation:</h4>
                                        <p>1. Open WatNew.<br>
                                        2. Under Menu tap Invite<br>
                                        3. Click on Invite and Earn.<br>
                                        4. Tap Send.</p>

                                        <h4>To see your prize history:</h4>
                                        <p>
                                          1. Open WatNew.<br>
                                          2. Under Menu click on Invite. <br>
                                          3. Tap Rewards. <br>
                                          4. You will find all your reward details.
                                       </p>

                                       <h4>Create Post and get Scratch Card:</h4>
                                       <p>
                                          1.	Open WatNew<br>
                                          2.	Under Menu you will find “Create a Page to Post”.<br>
                                          3.	Fill with mandatory details<br>
                                          4.	Select your favourite category for which you want to Post<br>
                                          5.	After reaching 50 content card user will receive a scratch card.<br>
                                          6.	After redeeming the card, the next count down will start.
                                       </p>

                                       <h4>Create Post rules and regulations:</h4>
                                       <p>1.	Same Page title name will not accept.<br>
                                          2.	Duplicate content will not be allowed.<br>
                                          3.	You can Post below list of items:<br>
                                          <span class="rules-sub-text">
                                          a. WhatsApp jokes<br>
                                          b. Comedy videos<br>
                                          c. Entertainment topics<br>
                                          d. Trending news<br>
                                          e. Quotes<br>
                                          f. Cricket images and videos.<br>
                                          g. Recipe Food videos <br>
                                          h. Youtube videos<br>
                                          i. Polls<br>
                                          j. Preview links.<br>
                                          k. Jokes and Shayaris<br>
                                          l. You can post to any category with the category Selection.
                                        </span>
                                          </p>

                                          <h3 class="text-center">WatNew time Spent on App:</h3>
                                          <p>You have the chance to win cash prizes when you use Watnew based on your time spent on the application.</p>
                                        <ul>
                                          <li>User has to spend daily 10 minutes in the app throughout the day.</li>
                                          <li>After reaching the 500 minutes user will receive scratch card.</li>
                                          <li>After redeeming the card, the next count down will start.</li>
                                        </ul>

                                        <h3 class="text-center">Other important information:</h3>
                                         
                                        <ul>
                                          <li>redeem your amount with Paytm</li>
                                          <li>if you don’t have Paytm app install the app you will receive your rewards through Paytm only.</li>
                                          <li>If user uninstall the app the rewards will get expired.</li>
                                        </ul>
                                        <p>In all case, if it considers, in its reasonable opinion, that you are acting contrary to any of these Terms, 
                                          the spirit of the Terms or that you are taking any kind of unfair advantage of or are abusing the Promotion 
                                          in any way.</p>
                                        <p><b>a.</b> To the fullest extent permitted by law, WatNew will not be liable for any kind of damage or loss is 
                                          arising from your entry in the Promotion programmes or your enjoyment of an Instant Win Gift and Prize.</p>
                                        <p><b>b.</b> WatNew reserves all the right at any time to cancel, change or replace any of the Promotion also 
                                          including the alteration of the Instant Win Gift or Prize)</p>
                                      
                                        <h4>Due to following:</h4>
                                        <ul>
                                          <li>any of the reason outside of its reasonable control; and</li>
                                          <li>the technical working of the software (including the algorithm) </li>
                                          <li>All of these Terms will be governed by and construed by the law.</li>
                                        </ul>
                                      </div>
                                </div>
                            </article>




                        </div>
                    </div>
                    <!-- <div class="col-xs-12 col-sm-3 col-md-3 wt-rightsidebar">
                        <rightsidebar></rightsidebar>
                    </div> -->
                </div>
            </div><!-- Container End-->
        </div>
    </div>
    <!-- <footer></footer> -->
</div>