<div class="main-content-w app-scr">
    <div class="main-content-m">
        <div class="main-content-i">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <div class="content side-padded-content reading-mode-content">
                            <article id="page-71" class="pluto-page-box post-71 page type-page status-publish hentry">
                                <div class="post-body">
                                    <h1 class="page-title">Privacy policy</h1>
                                    <div class="post-content">
                                        <p>At WatNew (“WatNew” “we” or “us”), we are faithful to protecting your privacy
                                            and keeping your information safe with us. WatNew processes information
                                            about you in a few different ways. This Privacy Policy explains how and why
                                            we collect, use, disclose and keep user's information that can identify you
                                            (“Personal Information”) when you create a WatNew account and use watNew.com
                                            (the “Site” or the App.), to post content to the WatNew community, including
                                            stories you create, comments and messages (the “Services”).</p>
                                        <p>Note that our Terms of Service apply to this Privacy Policy. By creating an
                                            account with WatNew, using the Services, or submitting any Personal
                                            Information via the Services, the user is consenting to the collection, use
                                            and disclosure their Personal Information as described below in this Privacy
                                            Policy. If the user doesn't agree to the use of your Personal Information in
                                            these ways, please stop using the Services.</p>
                                        <p>This is very important; please take the time to read it carefully.</p>
                                        <p>If you are only browsing the Site, then we do not collect any Personal
                                            Information about you. However, if you create an account with WatNew and use
                                            our Services, we need to gather and process some of your Personal
                                            Information’s ("Personal Information" is any information that can identify
                                            you. This may include, but is not limited to, your name, mailing address,
                                            telephone number, email address, Internet Protocol (“IP”) address, age,
                                            gender, marital status, health information, financial status, credit card
                                            information and credit history). Depending on your use of the Services.</p>
                                        <h4>Personal Information WatNew Collects from the Registered User’s:-</h4>
                                        <ul>
                                            <li>Email address, date of birth, user name and password.</li>
                                            <li>If the user signup for WatNew via third parties like Facebook and
                                                Google+ or any other, they send us the information that is necessary for
                                                your use of our Services, such as your name, email address, gender and
                                                date of birth.</li>
                                            <li>The information you decide to give to WatNew, such as your real name,
                                                gender, and location.</li>
                                            <li>The Information WatNew automatically collect from your use of our
                                                Services, including:
                                                <ul>
                                                    <li>IP address</li>
                                                    <li>Cookie data</li>
                                                    <li>Device information</li>
                                                    <li>Browser type</li>
                                                    <li>Operating system</li>
                                                    <li>Pages visited</li>
                                                    <li>Actions performed</li>
                                                </ul>
                                            </li>
                                        </ul>

                                        <h4>WatNew uses this Personal Information For the following reasons:</h4>
                                        <ul>
                                            <li>Create your WatNew account and provide you with our full feature
                                                Services.</li>
                                            <li>Identify you across the Services (e.g. when you sign in, post , or make
                                                a comment)</li>
                                            <li>Make age-appropriate content available to you.</li>
                                            <li>Provide you with technical support services.</li>
                                            <li>Communicate with you (e.g. letting you know about upcoming changes or
                                                improvements)</li>
                                            <li>Send you marketing emails, unless you opt-out</li>
                                            <li>Display the information as part of your Watnew profile</li>
                                            <li>Calculate anonymous, aggregate statistics to understand our users
                                                better, improve our Services, and develop new features</li>
                                            <li>Investigate and prevent reported illegal activity, issues, and breaches
                                                of WatNew terms of service.</li>
                                            <li>Help prevent spam, abuse, fraud, and other prohibited activities</li>
                                            <li>Display relevant, tailored advertisements and improve user's ad
                                                experience, except where their separate consent is required</li>
                                            <li>For security purposes</li>
                                        </ul>
                                        <p>WatNew treats the user personal information as private by default so it will
                                            never be displayed on the WebSite/App (unless the user chooses to display
                                            relevant details via your account settings publicly), revealed to other
                                            WatNew users, or rented or sold to anyone unless the data has been
                                            anonymised.</p>


                                        <h4>What information do we collect from you?</h4>
                                        <p>We collect your mobile number and user nickname to enable you to register and
                                            use our services. You can also choose to provide more information (such as
                                            gender, photo, and occupation) in your profile. </p>

                                        <h4>How do we use your information?</h4>
                                        <p>We will use your information for account verification, password recovery, and
                                            account personalization.</p>

                                        <h4>With whom do we share your information?</h4>
                                        <p>You can get some shared services by using your WatNew account with our OpenID
                                            feature. We also share your information with relevant group companies and as
                                            required by law.</p>

                                        <h4>Where do we process the information?</h4>
                                        <p>Our server is located in India. Our support, engineering and other teams are
                                            also located in India. </p>

                                        <h4>How long will we store your information?</h4>
                                        <p>If you do not use your account for 12 consecutive months, we will delete your
                                            information, or it will remain there. If you apply before then, we will also
                                            delete your information. We will retain the required data following our
                                            legal obligations. </p>

                                        <h4>How do I exercise my rights in information?</h4>
                                        <p>You have the right to access or delete your data, or to obtain a copy of your
                                            data, or to restrict or deny us processing your data. </p>

                                        <h4>Dispute Resolution</h4>
                                        <p>If you have any doubt or dissatisfaction, please contact us by.</p>

                                        <h4>How will we inform you about the changes?</h4>
                                        <p>If there is any kind of material change to our Privacy Policy, we will send
                                            you a notice before the change takes effect. </p>

                                        <h3>Contact information</h3>
                                        <p>Data Controller: WatNew. Email: ......@watnew.com</p>

                                        <h3>Watnew Representative:</h3>
                                        <p>Email: ......@watnew.com</p>

                                        <h3>Introduction</h3>
                                        <p>WatNew values your privacy. This Privacy Policy sets out the choices you may
                                            make regarding any personal information you provide to us and the usual
                                            practices we perform with regard to such information. WatNew will involve
                                            the collection of your personal information and use. It is essential that
                                            you understand the relevant processes and how they are controlled.</p>

                                        <p>By signing up for the Watnew (" Services "), you accept the rules and
                                            policies relating to your personal information and expressly consent to the
                                            collection, processing, use and storage of your personal information with
                                            the provisions of our policy.</p>

                                        <p>Please take time to read and understood our Privacy Policy.</p>

                                        <p>In case if you do not agree with this Privacy Policy, you may not use the
                                            Service. If you change your mind in the future, you can contact us at
                                            (company Id) to withdraw your previous consent to our use of your personal
                                            information.</p>

                                        <p><strong>You can contact our representative </strong></p>
                                        <p>Details: …………….</p>

                                        <h3>Type of personal information we collect and use:-</h3>
                                        <p>The information you provide to us. When using our services or contacting us
                                            by phone, email or other means, you may provide us with information about
                                            you (or your contacts). This includes information you provide when you
                                            register for the service, such as nicknames and mobile numbers, which will
                                            help you complete the registration and use our services.</p>

                                        <p>The information we collect about you. We automatically collect certain data
                                            when you use our services, including IP address, date and time stamps, and
                                            information about your use of the service, and your communication with other
                                            users.</p>

                                        <p>The information generated and displayed when you use the service. You may
                                            provide more detailed information (such as gender or occupation) in your
                                            profile. You may also provide or generate information (such as chat log
                                            data, location data, chat content) when using the service to communicate
                                            with other users.</p>

                                        <h3>Cookie</h3>
                                        <p>We use cookies and other similar technologies (such as web beacons, Flash
                                            cookies, etc.) (" Cookies ") to enhance your service experience. Cookies are
                                            small files that are stored on your device, and we provide certain features
                                            and functionality through cookies.</p>

                                        <p>You can choose to agree to install the relevant cookies, and you can choose
                                            to opt out later. You can accept all cookies, or set them to be notified in
                                            the web browser when you install cookies or refuse to accept all cookies by
                                            setting the relevant features of your web browser. However, if you refuse to
                                            install all cookies, Watnew may not be able to provide you with some
                                            services.</p>

                                        <h3>Child</h3>
                                        <p>Our services are not for children. Children may not use the service for any
                                            purpose. We do not knowingly allow any person under the age of 16 to provide
                                            any personally identifiable information.</p>



                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
            </div><!-- Container End-->
        </div>

    </div>
</div>