<navbar></navbar>
<div class="main-content-w">
  <div class="main-content-m">
    <div class="main-content-i fullscreen_post_bg">
      <div class="content padded-top padded-bottom">
        <div id="page-435" class="post-435 page type-page status-publish hentry">
          <div class="post-content"><a href="#" class="userpro-close-popup">Close</a>
            <div class="userpro userpro-587 userpro-float">

              <div class="userpro-head">
                <div class="userpro-left">Change Password</div>
                <div class="userpro-clear"></div>
              </div>

              <div class="userpro-body">

                <form action="" method="post" data-action="login" name="LoginForm" #LoginForm="ngForm" novalidate>
                  <div class='userpro-field  userpro-field-user_pass ' data-key='user_pass'>
                    <div class='userpro-label iconed'>
                      <label for='password'>New Password</label>
                      <div class='required'>*</div><span class="userpro-field-icon"><i
                          class="userpro-icon-lock"></i></span>
                    </div>
                    <div class='userpro-input'>
                      <input type='password' name='password' id='password' value='' placeholder='New Password'
                        autocomplete='off' [(ngModel)]="changeinfo.password" #password="ngModel" required />
                      <span class="err-msg">
                        <div *ngIf="password.touched" class="help-block">
                          <div *ngIf="password.errors?.required" class="help-block">
                            New Password is required
                          </div>
                        </div>
                      </span>
                      <div class='userpro-clear'></div>
                    </div>
                  </div>

                  <div class='userpro-clear'></div>

                  <div class='userpro-field  userpro-field-user_pass ' data-key='user_pass'>
                    <div class='userpro-label iconed'>
                      <label for='password'>Confirm Password</label>
                      <div class='required'>*</div><span class="userpro-field-icon"><i
                          class="userpro-icon-lock"></i></span>
                    </div>
                    <div class='userpro-input'>
                      <input type='password' name='password_confirmation' id='password_confirmation' value=''
                        placeholder='Conform Password' autocomplete='off' [(ngModel)]="changeinfo.password_confirmation"
                        [pattern]="changeinfo.password" #password_confirmation="ngModel" required />
                      <div
                        *ngIf="password_confirmation.errors && (password_confirmation.dirty || password_confirmation.touched)"
                        class="alert-email alert-danger-email">
                        <br>
                        <div class="help-block" [hidden]="!password_confirmation.errors.required">
                        </div>
                        <div class="help-block" [hidden]="!password_confirmation.errors">
                          Password is not correct.
                        </div>
                      </div>
                      <div class='userpro-clear'></div>
                    </div>
                  </div>
                  <div class='userpro-clear'></div>

                  <div class="userpro-field userpro-submit userpro-column">
                    <div class="userpro-clear"></div>
                    <input type="submit" value="Submit" [disabled]="!LoginForm.valid"
                      (click)="changepassword(changeinfo)" class="userpro-button" />
                    <div class="userpro-clear"></div>

                  </div>

                </form>

              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer></footer>
</div>

<div class="row otp-sec" #myDiv (click)="modalopen.open()">
  <modal #modalopen class="modal-sm">
    <modal-header>
      <h1></h1>
    </modal-header>
    <modal-content>
      <h5 style="text-align: center;">{{message}}</h5>
    </modal-content>
  </modal>
</div>