<!-- <navbar></navbar> -->
<div class="main-content-w login-pag">
    <!-- <div class="main-content-m" >
        <div class="main-content-i fullscreen_post_bg">
            <div class="content padded-top padded-bottom login-sec" style="display: none;">
                <div id="page-435" class="post-435 page type-page status-publish hentry" >
                    <div class="post-content"><a href="#" class="userpro-close-popup">Close</a>
                        <div class="userpro userpro-587 userpro-float"
                            data-modal_profile_saved='Your profile has been saved!' data-template='login'
                            data-max_width='480px' data-uploads_dir=''
                            data-default_avatar_male='assets/images/default_avatar_male.jpg'
                            data-default_avatar_female='assets/images/default_avatar_female.jpg' data-layout='float'
                            data-margin_top='0' data-margin_bottom='30px' data-align='center' data-skin='elegant'
                            data-required_text='This field is required'
                            data-password_too_short='Your password is too short'
                            data-passwords_do_not_match='Passwords do not match'
                            data-password_not_strong='Password is not strong enough' data-keep_one_section_open='0'
                            data-allow_sections='1' data-permalink='#' data-field_icons='1' data-profile_thumb_size='80'
                            data-register_heading='Register an Account' data-register_side='Already a member?'
                            data-register_side_action='login' data-register_button_action='login'
                            data-register_button_primary='Register' data-register_button_secondary='Login'
                            data-register_group='default' data-register_redirect='0' data-type='0'
                            data-force_redirect_uri='0' data-login_heading='Login'
                            data-login_side='Forgot your password?' data-login_side_action='reset'
                            data-login_resend='Resend verification email?' data-login_resend_action='resend'
                            data-login_button_action='register' data-login_button_primary='Login'
                            data-login_button_secondary='Create an Account' data-login_group='default'
                            data-login_redirect='0' data-rememberme='true' data-delete_heading='Delete Profile'
                            data-delete_side='Undo, back to profile' data-delete_side_action='view'
                            data-delete_button_action='view' data-delete_button_primary='Confirm Deletion'
                            data-delete_button_secondary='Back to Profile' data-delete_group='default'
                            data-reset_heading='Reset Password' data-reset_side='Back to Login'
                            data-reset_side_action='login' data-reset_button_action='change'
                            data-reset_button_primary='Request Secret Key'
                            data-reset_button_secondary='Change your Password' data-reset_group='default'
                            data-resend_heading='Resend email' data-resend_side='Back to Login'
                            data-resend_side_action='login' data-resend_button_action='resend'
                            data-resend_button_primary='Resend verification email'
                            data-change_heading='Change your Password' data-change_side='Request New Key'
                            data-change_side_action='reset' data-change_button_action='reset'
                            data-change_button_primary='Change my Password'
                            data-change_button_secondary='Do not have a secret key?' data-change_group='default'
                            data-list_heading='Latest Members' data-list_per_page='5' data-list_sortby='registered'
                            data-list_order='desc' data-list_users='0' data-list_group='default' data-list_thumb='50'
                            data-list_showthumb='1' data-list_showsocial='1' data-list_showbio='0'
                            data-list_verified='0' data-list_relation='or' data-list_popup_view='0'
                            data-online_heading='Who is online now' data-online_thumb='30' data-online_showthumb='1'
                            data-online_showsocial='0' data-online_showbio='0' data-online_mini='1'
                            data-online_mode='vertical' data-edit_button_primary='Save Changes'
                            data-edit_group='default' data-view_group='default' data-social_target='_blank'
                            data-social_group='default' data-card_width='250px' data-card_img_width='250'
                            data-card_showbio='1' data-card_showsocial='1' data-usercanedit='1'
                            data-link_target='_blank' data-error_heading='An error has occured'
                            data-memberlist_table='0'
                            data-memberlist_table_columns='user_id,picture,name,country,gender,role,email_user,message_user'
                            data-show_on_mobile='picture,name,country,email_user,message_user' data-memberlist_v2='1'
                            data-memberlist_v2_pic_size='86' data-memberlist_v2_fields='age,gender,country'
                            data-memberlist_v2_bio='1' data-memberlist_v2_showbadges='1' data-memberlist_v2_showname='1'
                            data-memberlist_v2_showsocial='1' data-memberlist_pic_size='120'
                            data-memberlist_pic_topspace='15' data-memberlist_pic_sidespace='30'
                            data-memberlist_pic_rounded='1' data-memberlist_width='100%' data-memberlist_paginate='1'
                            data-memberlist_paginate_top='1' data-memberlist_paginate_bottom='1'
                            data-memberlist_show_name='1' data-memberlist_popup_view='0' data-memberlist_withavatar='0'
                            data-memberlist_verified='0' data-memberlist_filters='0' data-memberlist_default_search='1'
                            data-memberlist_show_follow='0' data-per_page='12' data-sortby='registered'
                            data-order='desc' data-relation='and' data-search='1' data-exclude='0' data-show_social='1'
                            data-registration_closed_side='Existing member? login'
                            data-registration_closed_side_action='login' data-facebook_redirect='profile'
                            data-logout_redirect='0' data-post_paginate='1' data-postsbyuser_num='12'
                            data-postsbyuser_types='post' data-postsbyuser_mode='grid' data-postsbyuser_thumb='50'
                            data-postsbyuser_showthumb='1' data-postsbyuser_taxonomy='category'
                            data-postsbyuser_category='0' data-following_per_page='4' data-following_paginate='1'
                            data-followers_per_page='4' data-followers_paginate='1'
                            data-publish_heading='Add a New Post' data-publish_button_primary='Publish'
                            data-publish_button_draft='Save as Draft' data-following_heading='Following'
                            data-followers_heading='Followers' data-activity_heading='Recent Activity'
                            data-activity_all='0' data-activity_per_page='10' data-activity_side='refresh'
                            data-activity_user='0' data-emd_filters='1' data-emd_thumb='200' data-emd_social='1'
                            data-emd_bio='1' data-emd_fields='first_name,last_name,gender,country'
                            data-emd_layout='masonry' data-emd_per_page='20' data-emd_col_width='22%'
                            data-emd_col_margin='2%' data-emd_accountstatus='Search by account status'
                            data-emd_photopreference='Photo Preference' data-emd_country='Search by Country,dropdown'
                            data-emd_gender='Gender,radio' data-emd_paginate='1' data-emd_paginate_top='1'
                            data-collage_per_page='20'>

                            <div class="userpro-head">
                                <div class="userpro-left">Login</div>

                                <div class="userpro-right"><a [routerLink]="['/forgetpassword']"
                                        data-template="reset">Forgot your password?</a>
                                </div>

                                <div class="userpro-clear"></div>
                            </div>

                            <div class="userpro-body ">

                                <form action="" method="post" data-action="login" name="LoginForm" #LoginForm="ngForm"
                                    novalidate>

                                    <input type="hidden" name="force_redirect_uri-587" id="force_redirect_uri-587"
                                        value="0" />
                                    <input type="hidden" name="redirect_uri-587" id="redirect_uri-587" value="" />

                                    <input type="hidden" id="_myuserpro_nonce" name="_myuserpro_nonce"
                                        value="632b0d753b" />
                                    <input type="hidden" name="_wp_http_referer" value="/login/" />
                                    <input type="hidden" name="unique_id" id="unique_id" value="587" />
                                    <div class='userpro-field  userpro-field-username_or_email '
                                        data-key='username_or_email'>
                                        <div class='userpro-label iconed'>
                                            <label for='email'>Mobile Number</label>
                                            <div class='required'>*</div><span class="userpro-field-icon"><i
                                                    class="userpro-icon-user"></i></span>
                                        </div>
                                        <div class='userpro-input'>
                                            <input type='text' name='email' id='email' value=""
                                                placeholder=' Mobile Number' [(ngModel)]="loginInfo.email"
                                                #email="ngModel"  onkeypress="return (event.charCode > 47&& event.charCode < 58)"  maxlength="10"  required />
                                                <span class="err-msg">
                                                    <div *ngIf="email.touched">
                                                        <div *ngIf="email.errors?.required">
                                                             Mobile Number is required
                                                        </div>
                                                    </div>
                                                </span>
                                            <span class="err-msg" *ngIf="errorshow">
                                                <div *ngIf="email.touched">
                                                    <div *ngIf="email.errors?.required">
                                                        E-mail or Mobile Number is required
                                                    </div>
                                                </div>
                                            </span>
                                            <div class='userpro-clear'></div>
                                        </div>
                                    </div>


                                    <div class='userpro-clear'></div>

                                    <div class='userpro-field  userpro-field-user_pass ' data-key='user_pass'>
                                        <div class='userpro-label iconed'>
                                            <label for='password'>Password</label>
                                            <div class='required'>*</div><span class="userpro-field-icon"><i
                                                    class="userpro-icon-lock"></i></span>
                                        </div>
                                        <div class='userpro-input'>
                                            <input type='password' name='password' id='password' value=''
                                                placeholder='Password' autocomplete='off'
                                                [(ngModel)]="loginInfo.password" #password="ngModel" required />
                                            <span class="err-msg">
                                                <div *ngIf="password.touched" class="help-block">
                                                    <div *ngIf="password.errors?.required" class="help-block">
                                                        Password is required
                                                    </div>
                                                </div>
                                            </span>
                                            <div class='userpro-clear'></div>
                                        </div>
                                    </div>
                                    <div class='userpro-clear'></div>

                                    <div class="userpro-column">
                                        <div class="userpro-field userpro-field-compact">
                                            <div class="userpro-input">

                                                <div class='userpro-checkbox-wrap'>
                                                    <label class='userpro-checkbox hide-field'>
                                                        <span class="remcheck"></span>
                                                        <input type='checkbox' name='rememberme' id='rememberme'
                                                            (change)="toggleVisibility($event)" />Remember me </label>

                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="userpro-clear"></div>

                                    <div class="userpro-field userpro-submit userpro-column">

                                        <div class="userpro-social-connect">
                                            <div id="fb-root" class="userpro-column"></div>
                                            <a href="https://www.watnew.com/rest/login/facebook"
                                                class="userpro-social-facebook userpro-tip"
                                                title="Login with Facebook"></a>

                                            <a href="https://www.watnew.com/rest/login/google"
                                                class="userpro-social-google userpro-tip" title="Login with Google"></a>

                                            <a href="https://www.watnew.com/rest/login/twitter"
                                                class="userpro-social-instagram userpro-tip wpInLoginBtn"
                                                data-redirect="profile" title="Login with Twitter"></a>

                                        </div>
                                        <div class="userpro-clear"></div>
                                        <input type="submit" value="Login" [disabled]="!LoginForm.valid" (click)="LoginAuth(loginInfo)"
                                            class="userpro-button" />


                                        <input type="button" value="Create an Account" routerLink="/signup"
                                            class="userpro-button secondary" data-template="register" />

                                        <img src="assets/images/loading.gif" alt="" class="userpro-loading" />
                                        <div class="userpro-clear"></div>

                                    </div>

                                </form>
<p *ngIf="errormessage" style="color:red;"> {{message}}</p>
                            </div>

                        </div>


                    
                    </div>
                </div>
            </div>
        </div>
    </div> -->

    <div class="limiter">
		<div class="container-login100" style="background-image: url('assets/images/login-bg.jpg');">
			<div class="wrap-login100">
				<form class="login100-form validate-form" action="" method="post" data-action="login" name="LoginForm" #LoginForm="ngForm"
                        novalidate>
					<span class="login100-form-logo">
                        <!-- <img src="assets/images/login-logo.png" alt="" class="login-logo" /> -->
                        <a routerLink="/home"><img src="assets/images/login-logo-img.jpg" alt="logo" ></a>
					</span>

					<span class="login100-form-title p-b-34 p-t-27">
						Log in
					</span>

					<div class="wrap-input100 validate-input" data-validate = "Enter username">
                        <!-- <input class="input100" type="text" name="username" placeholder="Mobile Number"> -->
                        <input class="input100" type='text' name='mobile' id='email' value=""
                                                placeholder='Mobile Number' [(ngModel)]="loginInfo.mobile"
                                                #mobile="ngModel"  onkeypress="return (event.charCode > 47&& event.charCode < 58)"  maxlength="10"  required />
                                               
                        <span class="focus-input100" data-placeholder="&#xF188;"></span>
                        <span class="err-msg">
                                <div *ngIf="mobile.touched">
                                    <div *ngIf="mobile.errors?.required">
                                         Mobile Number is required
                                    </div>
                                </div>
                            </span>
                        <span class="err-msg" *ngIf="errorshow">
                            <div *ngIf="email.touched">
                                <div *ngIf="email.errors?.required">
                                    E-mail or Mobile Number is required
                                </div>
                            </div>
                        </span>
					</div>

					<div class="wrap-input100 validate-input" data-validate="Enter password">
                            <input class="input100" type='password' name='password' id='password' value=''
                            placeholder='Password' autocomplete='off'
                            [(ngModel)]="loginInfo.password" #password="ngModel" required />
                        
						<!-- <input  type="password" name="pass" placeholder="Password"> -->
                        <span class="focus-input100" data-placeholder="&#xf191;"></span>
                        <span class="err-msg">
                                <div *ngIf="password.touched" class="help-block">
                                    <div *ngIf="password.errors?.required" class="help-block">
                                        Password is required
                                    </div>
                                </div>
                            </span>
					</div>

					<div class="contact100-form-checkbox">
						<input class="input-checkbox100" id="ckb1" type="checkbox" ame="remember-me"
                        (change)="toggleVisibility($event)">
						<label class="label-checkbox100" for="ckb1">
							Remember me
						</label>
                    </div>
                    
                    <p *ngIf="errormessage" style="color:red;text-align: center;"> {{message}}</p>

					<div class="container-login100-form-btn">
						<!-- <button class="login100-form-btn">
							Login
                        </button> -->
                        <input type="submit" value="Login" [disabled]="!LoginForm.valid" (click)="LoginAuth(loginInfo)"
                                            class="userpro-button login100-form-btn" />
                    </div>
                    

                                            
                     <div class="text-center p-t-90">
                        <a class="txt1" [routerLink]="['/forgetpassword']"
                                        data-template="reset">Forgot your password?</a>
                    </div>
                    <div class="userpro-social-connect">
                            <input type="button" value="Create an Account" routerLink="/signup"
                            class="userpro-button secondary" data-template="register" />
                            <div id="fb-root" class="userpro-column"></div>
                            <span class="slicons"><a href="https://www.watnew.com/rest/login/facebook"
                                class="userpro-social-facebook userpro-tip"
                                title="Login with Facebook"></a>

                            <a href="https://www.watnew.com/rest/login/google"
                                class="userpro-social-google userpro-tip" title="Login with Google"></a>

                            <a href="https://www.watnew.com/rest/login/twitter"
                                class="userpro-social-instagram userpro-tip wpInLoginBtn"
                                data-redirect="profile" title="Login with Twitter"></a>
                            </span>
                        </div>
                       
                </form>
			</div>
		</div>
	</div>
    
</div>

<div class="row otp-sec forget-otp" #myDiv (click)="modalopen.open()">
    <modal #modalopen class="modal-sm">
        <modal-header>
            <h1>Verify OTP</h1>
        </modal-header>
        <modal-content>
            <div id="countdowns_login">
                <div id="countdown-numbers_login"></div>
                <svg>
                    <circle r="44" cx="47" cy="52"></circle>
                </svg>
            </div>
            <h2>We have sent verification code to your register mobile number</h2>
            <div class="confirmation_code_group">
                <input type="hidden" name="otpemail" [(ngModel)]="otp.otpemail" #otpemail="ngModel">
                <input type="hidden" name="otppassword" [(ngModel)]="otp.otppassword" #otppassword="ngModel">
                <div class="confirmation_code split_input large_bottom_margin" data-multi-input-code="true">
                    <div class="split_input_item input_wrapper"><input type="text" class="inline_input"
                            id="OTPpartition" maxlength="6" name="otpNumber" [(ngModel)]="otp.otpNumber"
                            #otpNumber="ngModel"></div>
                </div>
                <input type="submit" value="Verify" class="btn btn-verify" [disabled]="otp.otpNumber.length != 6" (click)="verifyotp(otp)">
                <h3><a style="cursor:pointer" (click)="resendOtp(otp)">Resend OTP</a></h3>
            </div>
            <p id="otpExpired"></p>
            <p *ngIf="messageVerify" class="invalid-otp">{{messageVerify}}</p>
            <p *ngIf="otpmessage" class="invalid-otp">{{otpmessage}}</p>
        </modal-content>

    </modal>
</div>