<navbar></navbar>
<div class="main-content-w">
    <div class="main-content-m">
        <div class="main-content-i">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-9 col-md-9 wt-left">
                        <div class="content side-padded-content reading-mode-content">
                            <div class="top-sidebar-wrapper">
                                <ngx-slick-carousel class="carousel" #slickModal="slick-carousel"
                                    [config]="slideConfigs">
                                    <aside ngxSlickItem id="media_image-4"
                                        class="widget-odd widget-last widget-first widget-1 widget widget_media_image"
                                        *ngFor="let bannerdata of Bannerdata"><a href="{{bannerdata.url}}"><img
                                                width="898" height="117" src="{{bannerdata.bannerimages[0].path}}"
                                                class="image wp-image-1831  attachment-full size-full" alt=""
                                                style="max-width: 100%; height: auto;"></a></aside>
                                </ngx-slick-carousel>
                            </div>

                            <div class="sub-bar-w hidden-sm hidden-xs">
                                <div class="sub-bar-i">
                                    <a href="/home" class="back-but"><i class="fa fa-angle-left"></i> Home</a>
                                </div>
                            </div>

                            <article id="page-71" class="pluto-page-box post-71 page type-page status-publish hentry">
                                <div class="post-body">

                                    <h1 class="page-title">About Us</h1>
                                    <div class="post-content">
                                        <P>Humans are designed to be socially active to a certain extent, as we have
                                            read during our school days humans are social animals. But some of us are
                                            more active, while others are less!</P>
                                        <P>However, we have always been looking forward ways to connect and network with
                                            each other. And, in this era of being super busy, the internet is the best
                                            way we people have found ways to be socially active, which is possible with
                                            the advent of the numerous social networking platforms and apps.</P>
                                        <P>WatNew makes it easier for everyone to choose their favourite categories and
                                            enables the user to join the live discussion on the trending topics. And to
                                            keep updated with trending Meme.</P>
                                        <h3>What is Watnew?</h3>
                                        <p>WatNew is an intelligent social media web and mobile application that finds
                                            or discovers content and recommends the same to its users. You are thus
                                            empowered to find out more about movies, sports, politics, business and much
                                            more and then choose them as per your interest and taste. Your home page is
                                            the centre of Watnew. It's where you'll find different categories, trending
                                            topics, with recommendations based on your interests, as well as what you
                                            follow on Watnewt are saving.</p>
                                        <p>With billions of posts on Watnew, you'll always find ideas to spark
                                            inspiration. When you discover things you love, save them to boards to keep
                                            your ideas organized and easy to find.</p>
                                        <p>Are you facing Difficulties to your favourite categories post?</p>
                                        <p>Still, want to know Wat New is</p>
                                        <p>So here you go.......</p>
                                        <p>WatNew is a social media and entertainment application. We are a one-stop
                                            place where you can get all the social media trends with categories. We
                                            assemble and share a mixture of everything from the serious and creative to
                                            funny, silly and absurd to match your mood. We provide you with your daily
                                            doses of WTF, JK, OMG, LOL, Awwwwww… and maybe even a few more heartfelt or
                                            brainy responses that don’t have their own truncated internet terms. Our
                                            Trending Post Slider and Widget allows you to displays the most popular
                                            posts and the trending posts of all the different Social media platforms at
                                            one place. </p>
                                        <p>Keeping yourself updated on what sort of topics are currently popular within
                                            your industry or niche. And for this, you just need to login into one
                                            account. WatNew is the place where we show you all the fantastic stuff that
                                            just arrived at social media. Stay up-to-date by all the latest gear right
                                            here.</p>

                                        <h4>Confused Wat to Cook?</h4>
                                        <p>Or</p>
                                        <h4>Want to know about the latest movie?</h4>
                                        <p>Or </p>
                                        <h4>Looking for the latest fashion?</h4>
                                        <p>Or</p>
                                        <h4>Wanted to join some live forum to discuss your views?</h4>
                                        <p>But, don’t have time to browse more….</p>
                                        <p>Still, want to know wat New is</p>
                                        <p>So here you go.......</p>
                                        <p>Just signup and choose your interest. And you will be updated with the
                                            trending post and story on social media.</p>
                                        <p>Hey, Do You Know Wat New????</p>
                                        <p>“NO”</p>
                                        <p>Then come and join us!</p>
                                    </div>
                                </div>
                            </article>




                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-3 col-md-3 wt-rightsidebar">
                        <rightsidebar></rightsidebar>
                    </div>
                </div>
            </div><!-- Container End-->
        </div>
    </div>
    <footer></footer>
</div>