<navbar></navbar>
<div class="main-content-w forgetpassword-pg">
    <div class="main-content-m">
        <div class="main-content-i fullscreen_post_bg">


            <div class="limiter">
                <div class="container-login100" style="background-image: url('assets/images/login-bg.jpg');">
                    <div class="wrap-login100">
                        <form class="login100-form validate-form" action="" method="post" data-action="login"
                            name="forgetForm" #forgetForm="ngForm" novalidate>
                            <input type="hidden" name="force_redirect_uri-587" id="force_redirect_uri-587" value="0" />
                            <input type="hidden" name="redirect_uri-587" id="redirect_uri-587" value="" />

                            <input type="hidden" id="_myuserpro_nonce" name="_myuserpro_nonce" value="632b0d753b" />
                            <input type="hidden" name="_wp_http_referer" value="/login/" />
                            <input type="hidden" name="unique_id" id="unique_id" value="587" />
                            <span class="login100-form-title p-b-34 p-t-27">
                                Forgot Password
                            </span>

                            <div class="wrap-input100 validate-input" data-validate="Enter username">
                                <!-- <input class="input100" type="text" name="username" placeholder="Username"> -->

                                <input class="input100" type='text' name='email' id='email' value=""
                                    placeholder=' Mobile Number' [(ngModel)]="forgetInfo.email" #email="ngModel"
                                    onkeypress="return (event.charCode > 47&& event.charCode < 58)" required />

                                <span class="focus-input100" data-placeholder="&#xf207;"></span>
                                <span class="err-msg" *ngIf="errorshow">
                                    <div *ngIf="email.touched">
                                        <div *ngIf="email.errors?.required">
                                            Mobile Number is required
                                        </div>
                                    </div>
                                </span>
                            </div>


                            <div class="container-login100-form-btn">

                                <input class="login100-form-btn" type="submit" value="Submit"
                                    [disabled]="!forgetForm.valid" (click)="forgetAuth(forgetInfo)" />
                            </div>


                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!--<div class="primary-sidebar-wrapper">
            <rightsidebar></rightsidebar>
        </div>-->


    </div>
    <footer></footer>
</div>

<div class="row otp-sec forget-otp" #myDiv (click)="modalopen.open()">
    <modal #modalopen class="modal-sm">
        <modal-header>
            <!-- <h1>Change Password</h1> -->
        </modal-header>
        <modal-content>
            <div id="countdown" *ngIf="forgotcount">
                <div id="countdown-number"></div>
                <svg>
                    <circle r="45" cx="48" cy="50"></circle>
                </svg>
            </div>
            <div id="countdown_resend" *ngIf="resendcount">
                <div id="countdown-number_resend"></div>
                <svg>
                    <circle r="44" cx="47" cy="52"></circle>
                </svg>
            </div>
            <h2></h2>
            <div class="userpro-body change-password-sec">

                <form class="login100-form" action="" method="post" data-action="login" name="changeForm"
                    #changeForm="ngForm" novalidate>

                    <input type="hidden" name="force_redirect_uri-587" id="force_redirect_uri-587" value="0" />
                    <input type="hidden" name="redirect_uri-587" id="redirect_uri-587" value="" />

                    <input type="hidden" id="_myuserpro_nonce" name="_myuserpro_nonce" value="632b0d753b" />
                    <input type="hidden" name="_wp_http_referer" value="/login/" />
                    <input type="hidden" name="unique_id" id="unique_id" value="587" />
                    <span class="login100-form-title p-b-34 p-t-27">
                        Change Password
                    </span>
                    <div class="wrap-input100 validate-input" data-key='username_or_email'
                        data-validate="Username or E-mail">
                        <!-- <input class="input100" type="text" name="username" placeholder="Username"> -->

                        <input class="input100" type='text' name='mobile' id='mobile' value=""
                            placeholder='Email or Mobile Number' [(ngModel)]="changeInfo.mobile" #mobile="ngModel"
                            disabled />

                        <span class="focus-input100" data-placeholder="&#xf207;"></span>
                        <span class="err-msg" *ngIf="errorshow">
                            <div *ngIf="mobile.touched">
                                <div *ngIf="mobile.errors?.required">
                                    E-mail or Mobile Number is required
                                </div>
                            </div>
                        </span>
                    </div>

                    <div class="wrap-input100 validate-input" data-key='user_pass' data-validate="New Password">
                        <input class="input100" type='password' name='password' id='password' value=''
                            placeholder='Password' autocomplete='off' [(ngModel)]="changeInfo.password"
                            #password="ngModel" required />

                        <span class="focus-input100" data-placeholder="&#xF18F;"></span>
                        <span class="err-msg">
                            <div *ngIf="password.touched" class="help-block">
                                <div *ngIf="password.errors?.required" class="help-block">
                                    Password is required
                                </div>
                            </div>
                        </span>
                    </div>

                    <div class="wrap-input100 validate-input" data-key='user_pass' data-validate="Conform Password">
                        <input class="input100" type='password' name='password_confirmation' id='password_confirmation'
                            value='' placeholder='Password' autocomplete='off'
                            [(ngModel)]="changeInfo.password_confirmation" #password_confirmation="ngModel"
                            [pattern]="changeInfo.password" required />

                        <span class="focus-input100" data-placeholder="&#xF18F;"></span>
                        <div *ngIf="password_confirmation.errors && (password_confirmation.dirty || password_confirmation.touched)"
                            class="alert-email alert-danger-email">
                            <br>
                            <div class="help-block" [hidden]="!password_confirmation.errors.required">
                            </div>
                            <div class="help-block" [hidden]="!password_confirmation.errors">
                                Password is not correct.
                            </div>
                        </div>
                    </div>

                    <div class="wrap-input100 validate-input" data-key='username_or_email' data-validate="Enter Otp">

                        <input class="input100" type='text' name='otp' id='otp' value="" placeholder='OTP'
                            [(ngModel)]="changeInfo.otp" #otp="ngModel" required maxlength="6" />

                        <span class="focus-input100" data-placeholder="&#xf207;"></span>
                        <span class="err-msg">
                            <div *ngIf="otp.touched">
                                <div *ngIf="otp.errors?.required">
                                    Otp is required
                                </div>
                            </div>
                        </span>

                        <a class="resendotp" (click)="resendOtp(changeInfo)" type="view">
                            Resend Otp
                        </a>
                    </div>

                    <div class="container-login100-form-btn">

                        <!-- <input class="login100-form-btn" type="submit" value="Submit" [disabled]="!forgetForm.valid"
                                (click)="forgetAuth(forgetInfo)" /> -->

                        <input class="login100-form-btn" type="submit" value="Submit" [disabled]="!changeForm.valid"
                            (click)="changeAuth(changeInfo)" />
                    </div>

                    <!-- <div class='userpro-field  userpro-field-username_or_email ' data-key='username_or_email'>
                        <div class='userpro-label iconed'>
                            <p>Username or E-mail</p>
                            <div class='required'>*</div><span class="userpro-field-icon"><i
                                    class="userpro-icon-user"></i></span>
                        </div>
                        <div class='userpro-input'>
                            <input type='text' name='mobile' id='mobile' value="" placeholder='Email or Mobile Number'
                                [(ngModel)]="changeInfo.mobile" #mobile="ngModel" disabled />
                            <span class="err-msg" *ngIf="errorshow">
                                <div *ngIf="mobile.touched">
                                    <div *ngIf="mobile.errors?.required">
                                        E-mail or Mobile Number is required
                                    </div>
                                </div>
                            </span>
                            <div class='userpro-clear'></div>
                        </div>
                    </div> -->


                    <!-- <div class='userpro-clear'></div> -->

                    <!-- <div class='userpro-field  userpro-field-user_pass ' data-key='user_pass'>
                        <div class='userpro-label iconed'>
                            <p>New Password</p>
                            <div class='required'>*</div><span class="userpro-field-icon"><i
                                    class="userpro-icon-lock"></i></span>
                        </div>
                        <div class='userpro-input'>
                            <input type='password' name='password' id='password' value='' placeholder='Password'
                                autocomplete='off' [(ngModel)]="changeInfo.password" #password="ngModel" required />
                            <span class="err-msg">
                                <div *ngIf="password.touched" class="help-block">
                                    <div *ngIf="password.errors?.required" class="help-block">
                                        Password is required
                                    </div>
                                </div>
                            </span>

                        </div>
                    </div>
                    <div class='userpro-clear'></div> -->

                    <!-- <div class='userpro-field  userpro-field-user_pass ' data-key='user_pass'>
                        <div class='userpro-label iconed'>
                            <p>Conform Password</p>
                            <div class='required'>*</div><span class="userpro-field-icon"><i
                                    class="userpro-icon-lock"></i></span>
                        </div>
                        <div class='userpro-input'>
                            <input type='password' name='password_confirmation' id='password_confirmation' value=''
                                placeholder='Password' autocomplete='off' [(ngModel)]="changeInfo.password_confirmation"
                                #password_confirmation="ngModel" [pattern]="changeInfo.password" required />
                            <div *ngIf="password_confirmation.errors && (password_confirmation.dirty || password_confirmation.touched)"
                                class="alert-email alert-danger-email">
                                <br>
                                <div class="help-block" [hidden]="!password_confirmation.errors.required">
                                </div>
                                <div class="help-block" [hidden]="!password_confirmation.errors">
                                    Password is not correct.
                                </div>
                            </div>
                            <div class='userpro-clear'></div>
                        </div>
                    </div>
                    <div class='userpro-clear'></div> -->

                    <!-- <div class='userpro-field  userpro-field-username_or_email resend-otp' data-key='username_or_email'>
                        <div class='userpro-label iconed'>
                            <p>Enter Otp</p>
                            <div class='required'>*</div><span class="userpro-field-icon"><i
                                    class="userpro-icon-user"></i></span>
                        </div>
                        <div id="countdown_resend" *ngIf= "resendcount">
                            <div id="countdown-number_resend"></div>
                            <svg>
                                <circle r="44" cx="47" cy="52"></circle>
                            </svg>
                          </div>
                        <div class='userpro-input'>
                            <input type='text' name='otp' id='otp' value="" placeholder='OTP'
                                [(ngModel)]="changeInfo.otp" #otp="ngModel" required maxlength="6" />
                            <span class="err-msg">
                                <div *ngIf="otp.touched">
                                    <div *ngIf="otp.errors?.required">
                                        Otp is required
                                    </div>
                                </div>
                            </span>
                            <div class='userpro-clear'></div>
                        </div>
                        <a class="resendotp" (click)="resendOtp(changeInfo)" type="view">
                            Resend Otp
                        </a>
                    </div> 


                    <div class='userpro-clear'></div>-->

                    <!-- <div class="userpro-column">
                        <div class="userpro-field userpro-field-compact">
                            <div class="userpro-input">

                                <div class='userpro-checkbox-wrap'>
                                    <label class='userpro-checkbox hide-field'>
                                        <span></span>
                                      <input type='checkbox' name='rememberme-587' id='rememberme-587'
                                            value="true" />Remember me </label>

                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="userpro-clear"></div> -->

                    <!-- <div class="userpro-field userpro-submit userpro-column">


                        <div class="userpro-clear"></div>
                        <input type="submit" value="Submit" [disabled]="!changeForm.valid"
                            (click)="changeAuth(changeInfo)" class="userpro-button" />  -->

                    <!-- <input type="submit" value="Login" [disabled]="!LoginForm.valid"
                           class="userpro-button" />  -->
                    <!-- <input type="button" value="Create an Account" routerLink="/signup"
                            class="userpro-button secondary" data-template="register" /> -->

                    <!-- <img src="assets/images/loading.gif" alt="" class="userpro-loading" /> -->
                    <!-- <div class="userpro-clear"></div>

                    </div> -->


                </form>

            </div>
        </modal-content>

    </modal>
</div>