<div class="main-content-w app-scr">
    <div class="main-content-m">
        <div class="main-content-i">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <div class="content side-padded-content reading-mode-content">
                            <article id="page-71" class="pluto-page-box post-71 page type-page status-publish hentry">
                                <div class="post-body">
                                    <h1 class="page-title">Terms and Condition</h1>
                                    <div class="post-content">
                                        <h3>Terms of Service</h3>
                                        <p>Welcome to the WatNew platform, which is owned and operated by (Company's
                                            Name). These terms of service (which includes our Code of Conduct and our
                                            Privacy Policy) (“Terms of Service”) are a contract between you and WatNew.
                                            By using watNew.com (the “Website/App”), creating your WatNew account and
                                            using the Website or our mobile applications to post various content to the
                                            WatNew community, including stories you create, comments and messages, or to
                                            access and view WatNew content or other user content (together with the
                                            Site, the “Services”), you agree to these Terms of Service. If you don’t
                                            agree to any of these terms, you can’t use the WatNew Services. Watnew is
                                            not restricting access to any particular region. watnew allows and enables
                                            the user to register with the mobile number from the respective country
                                            code.</p>

                                        <h3>You Need to be 18</h3>
                                        <p>Users should be above 18+. WatNew will not do any verification on the user’s
                                            age; it just takes input from the end user.</p>

                                        <h3>You Need an Account</h3>
                                        <p>You can’t browse all on the Site or use the Services without signup. To get
                                            the most out of the WatNew platform, you’ll need to signup, choose an
                                            account name, email Id, and set the password.</p>
                                        <p>The user will be responsible for all the activity on their account, and also
                                            for keeping their password confidential. If the user shares the account
                                            information with anyone else, then that other person will be able to take
                                            access of their account. In that case, we will not be able to identify who
                                            is the proper account user. WatNew will not have any responsibility to you
                                            or anyone who share their account information with anyone, as a result of
                                            your or their actions under those circumstances. If the user finds out that
                                            someone’s used their account without their permission, you should report it
                                            at (company email Id)</p>

                                        <h3>Our Rights in the Services</h3>
                                        <p>We reserve all rights in the WebSite/App and the Services, look & feel, and
                                            the content. No one can copy or adapt any part of our code or visual designs
                                            elements (including logos) without express written permission from WatNew or
                                            as set out in this clause. Please don't use WatNew logo or the trademarks in
                                            any manner that might suggest WatNew is endorsing a particular product or
                                            service, or you have a business relationship with WatNew.</p>

                                        <p>WatNew may change, terminate, or restrict access to any aspect of the
                                            Services, at any time, without any prior notice. The user can remove any
                                            content they post or submit for any reason. WatNew may access, view,
                                            preserve, and disclose any information as we reasonably manner believes is
                                            necessary to any of the following:-</p>

                                        <p>(i) Satisfy applicable law, regulation, legal process or governmental request
                                        </p>
                                        <p>(ii) Enforce any of the Terms of Service, including investigation of
                                            potential violations</p>
                                        <p>(iii) Detect, prevent, or otherwise address fraud, security or technical
                                            issues</p>
                                        <p>(iv) Respond to user support requests.</p>

                                        <h3>Deleting Your Account</h3>
                                        <p>You can permanently delete your WatNew account. If you close your account, it
                                            will get deactivated firstly and then removed. While your account is
                                            deactivated, it will not be visible on WatNew, and all of your activities
                                            done by the account like the comment, messages will remain there except that
                                            they will be anonymised. It will be possible to restore your account if it
                                            was accidentally or wrongfully deactivated but only for next six months
                                            after deactivation, including re-associating your comments and message board
                                            posts to your profile. After six months, the account will be permanently
                                            deleted from WatNew systems. Other than that the anonymised message and
                                            comments board posts will remain on the Services.</p>
                                        <p>WatNew has the right to suspend or terminate the account or discontinue
                                            giving you with all or a particular part of the Services at any time, and
                                            for any reason we deem appropriate. We will make consistent efforts to
                                            inform you by the email address linked with the account or the next time you
                                            try to access the account.</p>

                                        <h3>General Terms</h3>
                                        <ul>
                                            <li>Watnew allows the user to sign up and login via social media, i.e.
                                                Facebook, Twitter and Google+.</li>
                                            <li>In the verification of social media, logins are subjected to the
                                                respective platform.</li>
                                            <li>User can access watnew as a guest and WatNew will now allow doing any
                                                actions except selecting of categories, and share. He can view all the
                                                pages and also play games and view live scores.</li>
                                            <li>Registered user can post only after creating the page in WatNew.</li>
                                            <li>Watnew will not investigate and do background checks for the register
                                                users while creating the pages.</li>
                                            <li>It is solely the responsibility of the user for any kind of
                                                discrimination (caste, creed, religion and region, race etc.), and also
                                                for any copyright issues, abuse, illegal, crime, pornography and nudity
                                                etc.</li>
                                            <li>Watnew will observe for the incoming feed and takes appropriate action
                                                if there is any abuse content.</li>
                                            <li>Category selections listed in WatNew are the trends as per market.
                                                WatNew will delete, edit and add If any concern or issue raised by users
                                                or governing bodies or any abusive content.</li>
                                            <li>Watnew has 3 inputs for content, but the user will similarly view both
                                                inputs.
                                                <ul>
                                                    <li>Content posted by WatNew.</li>
                                                    <li>End users who created pages.</li>
                                                    <li>3rd party contents</li>
                                                </ul>
                                            </li>
                                        </ul>


                                        <p>Getting from other sources, i.e. WatNew is paying an external source and
                                            getting content from different platforms that are supported by so-called
                                            external source information please contact.</p>

                                        <p><strong>Note: WatNew is fetching only the public pages and segregation same
                                                to the end users of WatNew.</strong></p>
                                        <ul>
                                            <li>If any page owner of other social media platforms has issues with the
                                                content or copyright, please contact WatNew.</li>
                                            <li>Watnew showcase the content of a particular page and other social media
                                                platforms with the same name (page name will be similar of that
                                                respective page)</li>
                                            <li>Watnew is not responsible for any copyright issues reported by page
                                                owners by other social media platforms, watnew will give information of
                                                source where there are getting content from so that they can discuss and
                                                take necessary action.</li>
                                        </ul>

                                        <p><strong>Note: source information will be shared only on the valid
                                                request.</strong></p>
                                        <ul>
                                            <li>Watnew is mentioning clearly the page name on every content card.</li>
                                            <li>Watnew is not responsible for the comments posted by users in the
                                                platform.</li>
                                            <li>Games and live score: are integrated external APIs, watnew is not
                                                responsible for any issues that are related to those games and live
                                                scores.</li>
                                            <li>Watnew is open for feedback and suggestions.</li>
                                        </ul>

                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
            </div><!-- Container End-->
        </div>
    </div>
</div>