.postlikes-sec{margin-right:10px;}
.postcomment-sec{/*margin-right:10px;*/ margin-right: 7px; line-height: 40px;}
.os-icon-hearts{color: #ccc !important; line-height: 20px; vertical-align: middle; font-size: 18px;}
.os-icon-hearts:before {content: "\f004";}

.search-results { height: 20rem; overflow: scroll;}

.pages-categories-sec form{margin: 0; float: left;}
.pages-categories-sec{background: #fff; box-shadow: 0px 2px 4px rgba(146,158,218,0.12); padding: 10px 15px; margin: 0 1em 2em 1em;
    padding: 10px; border-radius: 6px;}
.pages-categories-sec label{font-size: 11px; vertical-align: middle; line-height: 1; text-transform: uppercase; letter-spacing: 1px;
  font-weight: 700; margin: 5px 10px 5px 5px; color: rgba(0,0,0,0.4); line-height: 18px;}
.pages-categories-sec .form-group{margin-right: 15px;}
.pages-categories-sec{margin: 0 1em 2em 0em;}

.trending-filter-sec{float: right; background: none; box-shadow: none; margin: 1.2em 0;}
.filter-close-sec{float: right; background: #f44336; padding:7px 8px; border-radius: 50%; margin:0.2em 0; cursor: pointer;}
.filter-close-sec .fa{color: #fff;}
.filter-close-sec:hover{background: #524e4e;}

.index-filter-bar .index-filter-w{width: 100%; padding-right: 20px;}

.index-isotope.v3 article.pluto-post-box .post-meta{margin: 8px 0 0;}
/* .index-filter-bar .index-sort-w{width: 84%;} */

#openSection{
  display: none;
}

.dropdown-menu.active{
  display: block;
}

.mainComment.active, .subComment.active{
  display: block;
}

#mainComment{
  display: none;
}

#subComment{
  display: none;
}

.entry-title span {
  color: #ff0000 !important;
}

.load_more {
  background: #005abf;
  border: 1px solid #005abf;
  color: #fff;
  padding: 10px 30px;
  border-radius: 30px;
}
.loadMore{
  text-align: center;
  margin-bottom: 10px;
}

.slick-list{position: fixed;}
.slick-initialized .slick-slide{margin-top: 57px;}
.wt-left {margin-top: 0;}
.search-results-header{margin:0 16px 5px 16px !important; padding: 10px 0px !important;}

.active {
  display: block !important;
}

/* Login Popup CSS */
/* remove codrops styles and reset the whole thing */
#container_demo{
  text-align: left;
  margin: 0;
  padding: 0;
  margin: 0 auto;
  font-family: "Trebuchet MS","Myriad Pro",Arial,sans-serif;
}
a.hiddenanchor{
 display: none;
}
/** The wrapper that will contain our two forms **/
#wrapper{ 
 min-height: 480px;	
}
/**** Styling the form elements **/

/**** general text styling ****/
#wrapper a{
 color: #fff;
 text-decoration: none;
}
#wrapper a:hover{color:#008aff;}
/** Styling both forms **/
#register, 
#login{
 position: absolute; width: 77%;
}
.change_link{text-align: center;margin-top: 20px; color: #111; font-size: 16px;}
.change_link a{color:#fff;}
#register{	
 z-index: 21;
}
#login{
 z-index: 22;
}
#toregister:target ~ #wrapper #register,
#tologin:target ~ #wrapper #login{
 z-index: 22;
 -webkit-animation-delay: .6s;
 -webkit-animation-timing-function: ease-in;
 -moz-animation-delay: .6s;
 -moz-animation-timing-function: ease-in;
 -o-animation-delay: .6s;
 -o-animation-timing-function: ease-in;
 -ms-animation-delay: .6s;
 -ms-animation-timing-function: ease-in;
 animation-delay: .6s;
 animation-timing-function: ease-in;
 -webkit-animation-name: scaleIn;
 -moz-animation-name: scaleIn;
 -ms-animation-name: scaleIn;
 -o-animation-name: scaleIn;
 animation-name: scaleIn;
}
#toregister:target ~ #wrapper #login,
#tologin:target ~ #wrapper #register{
 -webkit-animation-timing-function: ease-out;
 -moz-animation-timing-function: ease-out;
 -o-animation-timing-function: ease-out;
 -ms-animation-timing-function: ease-out;
 animation-timing-function: ease-out;
 -webkit-animation-name: scaleOut;
 -moz-animation-name: scaleOut;
 -ms-animation-name: scaleOut;
 -o-animation-name: scaleOut;
 animation-name: scaleOut;
}

/** the actual animation, credit where due : http://daneden.me/animate/ ***/
.animate{
 -webkit-animation-duration: 0.5s;
 -webkit-animation-fill-mode: both;
 
 -moz-animation-duration: 0.5s;
 -moz-animation-fill-mode: both;
 
 -o-animation-duration: 0.5s;
 -o-animation-fill-mode: both;
 
 -ms-animation-duration: 0.5s;
 -ms-animation-fill-mode: both;
 
 animation-duration: 0.5s;
 animation-fill-mode: both;
}

/** yerk some ugly IE fixes 'cause I know someone will ask "why does it look ugly in IE?", no matter how many warnings I will put in the article */

.lt8 #wrapper input{
 padding: 10px 5px 10px 32px;
   width: 92%;
}
.lt8 #wrapper input[type=checkbox]{
 width: 10px;
 padding: 0;
}
.lt8 #wrapper h1{
 color: #066A75;
}
.lt8 #register{	
 display: none;
}
.lt8 p.change_link,
.ie9 p.change_link{
 position: absolute;
 height: 90px;
 background: transparent;
}



/* Countdown */
#countdowns_login {
  position: relative;
  margin: auto;
  margin-top: 50px;
  height:120px;
  width: 120px;
  text-align: center;
}

#countdown-numbers_login {
  color: #000;
  display: inline-block;
  line-height: 130px; font-size: 20px;
}

svg {
  position: absolute;
  top: 0;
  right: 0;
  width: 120px;
  height: 100px;
  transform: rotateY(-180deg) rotateZ(-90deg);
}

svg circle {
  stroke-dasharray: 280px;
  stroke-dashoffset: 0px;
  stroke-linecap: round;
  stroke-width: 4px;
  stroke: #1486e8;
  fill: none;
  animation: countdown 120s linear infinite forwards;
}
@keyframes countdown {
  from {
    stroke-dashoffset: 0px;
  }
  to {
    stroke-dashoffset: 280px;
  }
}

.countreset svg circle {
  display: none;
}

.resendreset svg circle {
  stroke-dasharray: 280px;
  stroke-dashoffset: 0px;
  stroke-linecap: round;
  stroke-width: 4px;
  stroke: #1486e8;
  fill: none;
  animation: countdown 120s linear infinite forwards;
}

.resendreset svg {
  position: absolute;
  top: 0;
  right: 0;
  width: 120px;
  height: 100px;
  transform: rotateY(-180deg) rotateZ(-90deg);
}

#OTP_section h2{font-size: 17px; text-align: center; color: #fff; font-weight: normal;}
#OTP_section h3{font-size: 18px; font-weight: normal;}
 /*---------------------------------------------*/
 button {
  outline: none !important;
  border: none;
  background: transparent;
}

button:hover {
  cursor: pointer;
}

iframe {
  border: none !important;
}

.p-b-34 {
  padding-bottom: 34px;
}
.p-t-27 {
padding-top: 27px;
}

.limiter .userpro-social-connect{position: relative; margin: 1em 0;float: left; width: 100%;}
.limiter .userpro-social-connect .userpro-button{float: left; border-radius: 30px !important; padding: 0px 20px !important;
height: 35px !important;}
.limiter .userpro-social-connect .userpro-button:hover{background: #008aff !important; color: #fff !important;}

/*//////////////////////////////////////////////////////////////////
[ Utility ]*/
.txt1 {
  font-family: Poppins-Regular;
  font-size: 13px;
  color: #111;
  line-height: 1.5;
}
.txt1:hover{color: #fff;}
.slicons{float: right;}

/*//////////////////////////////////////////////////////////////////
[ login ]*/

.limiter {
  width: 100%;
  margin: 0 auto;
}

.container-login100 {
  width: 100%;  
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 20px 15px 50px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
   z-index: 1;   
}

.container-login100::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color:rgba(7, 7, 7, 0.71);
}

.wrap-login100 {
  /* width: 500px;
  border-radius: 10px; */
  overflow: hidden;
  padding: 30px 55px 37px 55px;
  /* background: #00cde2;
  background: -webkit-linear-gradient(top, #00cde2, #f0d742) !important;
  background: -o-linear-gradient(top, #00cde2, #f0d742) !important;
  background: -moz-linear-gradient(top, #00cde2, #f0d742) !important;
  background: linear-gradient(top, #00cde2, #f0d742) !important; */
  /* background: -webkit-linear-gradient(top, #00cde2, #f0d742);

  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.20); margin-top: 6em; */
}


/*------------------------------------------------------------------
[ Form ]*/

.login100-form {
  width: 100%;
}

.login100-form-logo {
  font-size: 60px; 
  color: #333333;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin: 0 auto; border: 2px solid #fff; overflow: hidden;

}
.login100-form-logo img{width: 100%;}
.login-logo{width: 100%;}

.login100-form-title {
  font-family: Poppins-Medium;
  font-size: 30px;
  color: #fff;
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase;

  display: block;
}


/*------------------------------------------------------------------
[ Input ]*/

.wrap-input100 {
  width: 100%;
  position: relative;
  border-bottom: 2px solid rgba(255,255,255,0.24);
  margin-bottom: 30px;
}

.input100 {
  font-family: Poppins-Regular;
  font-size: 16px;
  color: #fff;
  line-height: 1.2;

  display: block;
  width: 100%;
  height: 45px;
  background: transparent;
  padding: 0 5px 0 38px; border: none;
}

/*---------------------------------------------*/ 
.focus-input100 {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}

.focus-input100::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;

  background: #fff;
}

.focus-input100::after {
  font-family: Material-Design-Iconic-Font;
  font-size: 22px;
  color: #f3155b;

  content: attr(data-placeholder);
  display: block;
  width: 100%;
  position: absolute;
  top: 6px;
  left: 0px;
  padding-left: 5px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.input100:focus {
  padding-left: 5px; outline: none;
}

.input100:focus + .focus-input100::after {
  top: -22px;
  font-size: 18px;
}

.input100:focus + .focus-input100::before {
  width: 100%;
}

.has-val.input100 + .focus-input100::after {
  top: -22px;
  font-size: 18px;
}

.has-val.input100 + .focus-input100::before {
  width: 100%;
}

.has-val.input100 {
  padding-left: 5px;
}


/*==================================================================
[ Restyle Checkbox ]*/

.contact100-form-checkbox {
  padding-left: 5px;
  padding-top: 5px;
  padding-bottom: 35px;
}

.input-checkbox100 {
  display: none;
}

.label-checkbox100 {
  font-family: Poppins-Regular;
  font-size: 13px;
  color: #fff;
  line-height: 1.2;

  display: block;
  position: relative;
  padding-left: 26px;
  cursor: pointer;
}

.label-checkbox100::before {
  content: "\f26b";
  font-family: Material-Design-Iconic-Font;
  font-size: 13px;
  color: transparent;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  background: #fff;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

.input-checkbox100:checked + .label-checkbox100::before {
  color: #555555;
}


/*------------------------------------------------------------------
[ Button ]*/
.container-login100-form-btn {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.login100-form-btn {
  font-family: Poppins-Medium;
  font-size: 16px;
  color: #fff;
  line-height: 1.2 !important;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px !important;
  min-width: 180px !important;
  height: 50px !important;
  border-radius: 25px !important;

  background: #008aff;
  
  position: relative;
  z-index: 1;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s; margin: 0 0 15px !important; border: none;
}

.login100-form-btn::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  border-radius: 25px;
  background-color: #008aff; color: #fff;
  top: 0;
  left: 0;
  opacity: 1;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.login100-form-btn:hover {
  color: #fff; background-color: #008aff;
}

.login100-form-btn:hover:before {
  opacity: 0;
}


/*------------------------------------------------------------------
[ Responsive ]*/

@media (max-width: 576px) {
  .wrap-login100 {
    padding: 55px 15px 37px 15px;
  }
}



/*------------------------------------------------------------------
[ Alert validate ]*/

.validate-input {
  position: relative;
}

.alert-validate::before {
  content: attr(data-validate);
  position: absolute;
  max-width: 70%;
  background-color: #fff;
  border: 1px solid #c80000;
  border-radius: 2px;
  padding: 4px 25px 4px 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 0px;
  pointer-events: none;

  font-family: Poppins-Regular;
  color: #c80000;
  font-size: 13px;
  line-height: 1.4;
  text-align: left;

  visibility: hidden;
  opacity: 0;

  -webkit-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

.alert-validate::after {
  content: "\f12a";
  font-family: FontAwesome;
  font-size: 16px;
  color: #c80000;

  display: block;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 5px;
}

.alert-validate:hover:before {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 992px) {
  .alert-validate::before {
    visibility: visible;
    opacity: 1;
  }
}



@media (max-width: 767px) {
.index-isotope.v3 article.pluto-post-box .post-meta{margin:0;}
.trendingSection .side-padded-content{padding: 0;}
.search-results-header{margin: 0 0 13px 0 !important; padding: 5px 0px 6px !important;}
}