
.more{
    background: #0074ff;
    width: 100px;
    height: 100px;
    float: right;
    bottom: 110px !important;
    position: relative;
    color: #fff;
    text-align: center;
    line-height: 100px;
    margin: 10px 0 0;
    border-radius: 4px;cursor: pointer;
}

.morehide{
    display: none !important;
}
.block-vignette {background: radial-gradient(ellipse at center, transparent 0, rgba(0, 0, 0, 0.7) 100%);}
.onboarding-tile--small .tile-inner .check-mark{margin-top: 0px;}

@media (max-width: 767px) {
    .more{bottom:84px !important;}

}